*, *:before, *:after {
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	box-sizing:inherit;
}
* {
  margin:0;
  padding:0;
  border: 0 none;
  position: relative;
}
:root {
	--sinSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	--Nhexa: 4;
	--gap: 2vw;
	--size: calc(calc(100vw / var(--Nhexa)) - var(--gap));
}
@media only screen and (min-width: 1100px) {
  :root {--Nhexa: 6;}
}
@media only screen and (max-width: 600px) {
	:root {--Nhexa: 2;}
	body {
    margin-right: calc(var(--size) * .3);
  }
}
html {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-family: var(--sinSerif);
	font-size: 1rem;
}
body {
  margin:0;
	padding:0;
	padding-right: calc(var(--size) * .5);
	overflow-X: hidden;
	text-align:center;
	background-color:#FE4;
  font-family: 'Fira Code', monospace;
  font-size: 0.7em;
}
section {
  /*margin: calc(var(--size) * .5) auto 0;*/
  margin: 0 auto;
  width: calc(var(--size) * calc(var(--Nhexa) - 1));
	display: grid;
	grid-template-columns: repeat(var(--Nhexa), 1fr);
	grid-gap: var(--gap);
}
.hex {
  width: var(--size); 
  height: calc(var(--size) / 1.1111111);
  -webkit-transition: background-image 0.5s;
  transition: background-image 0.5s;
	/*background: #FFF;*/
	/*clip-path: url(#hexagono);*/
  /*clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);*/
  margin-right: calc(var(--size) / 2);
	color: #000;
	overflow: hidden;
  text-decoration: none;
  background-image: url("../img/hexw.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
.hex:nth-child(2n) {margin: calc(var(--size) * -.5) calc(var(--size) * -.25) 0 calc(var(--size) * -.75);}
.hex::before {
	content: '';
	float: left;
	width: 25%;
	height: 100%;
	/*clip-path: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);*/
	/*shape-outside: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);*/
}
.hex.linked:hover {
  /*background-color: #000;*/
  transition: all 0.5s;
  background-image: url("../img/hexb.svg");
}
.hex.linked:hover figure h2,
.hex.linked:hover figure h3,
.hex.linked:hover figure p {
  color: #FE4;
  transition: all 0.5s;
}
.hex.linked:hover figure .iconimg .img2 {
  opacity: 1;
  transition: all 0.5s;
}

.hex.hexgen1 {
  background-image: url("../img/hexg06.png");
}
.hex.hexgen2 {
  background-image: url("../img/hexg05.png");
}

.hex.linked p {
  margin-top: 10px;
}
.hex.hextransp {
  background: transparent;
}
img.hexbg {
  width: var(--size);
	height: var(--size);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 0% 50%;
	transition: .75s;
	clip-path: url(#hexagono);
	clip-path: inherit;
	z-index:  10;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.2em;
}
figure {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	max-width: 50%;
	height: 100%;
	font-size: calc(9 / var(--Nhexa) * 1vw);
	line-height: 1;
	color: #000;
	transition: .75s .05s;
  text-align: center;
}
figure p {
	font-size: 70%;
	line-height: 1.2;
	width: 100%;
}

.iconimg {
  position: relative;
}

.iconimg .img1 {
  width: 100%;
  top:0;
  left:0;
}

.iconimg .img2 {
  opacity: 0;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}

.title {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 40%;
}

h1 {
  font-size: 7em;
  font-weight: normal;
  margin-right: 50px;
  text-shadow: 3px 3px white;
}
body > p {
	font-size: 1.5rem;
	margin: 2rem 0 1rem calc(var(--size) * .5);
	font-weight: 200;
}

footer {
  padding-left: calc(var(--size) * .5);
  margin-top: 20px;
  margin-bottom: 50px;
}

.visible-mobile {
  display: none;
}

@media only screen and (max-width: 1099px) and (min-width: 601px) {
  .title {
    right: auto;
    left: auto;
    width: 100%;
  }
  .title h1 {
    text-align: center;
    width: 100%;
  }

  .hidden-tablet {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    right: auto;
    left: auto;
    width: 100%;
  }
  .title h1 {
    text-align: center;
    width: 100%;
  }
  .hidden-mobile {
    display: none;
  }
  .visible-mobile {
    display: block;
  }
}

